.col-div-wrapper {
    background-color: #fff;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #f8fafb;
    overflow: hidden;
}
.title-wg-yth {
    text-align: left;
    font-size: 19px;
    margin-bottom: 0px;
    color: #000;
}
.break-word-point{
    word-break: break-all;
}
.tabel-scroll-height{
    overflow-y: auto;
    max-height: 250px;
}
.select-opt-ware-h{
    font-size: 10px;
    padding: 5px 5px;
    appearance: auto;
    font-weight: 500;
}