.col-div-wrapper {
    background-color: #fff;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #f8fafb;
    overflow: hidden;
}
.title-wg-yth {
    text-align: left;
    font-size: 19px;
    margin-bottom: 0px;
    color: #000;
}