.listCount--row.card {
    margin-bottom: 20px;
}
.icon-list {
    display: inline-block;
    background-color: rgba(57,128,192,.25)!important;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 5px;
    font-size: 22px;
    color: #3980c0;
    margin-bottom: 25px;
}
.title-txtmain {
    color: #74788d;
    font-size: 17px;
    font-weight: 400;
}
.count-items {
    display: block;
    color: #495057;
    font-size: 21px;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
}













