.nav-tabs .nav-link {
    color: #777;
    border: 0;
    border-bottom: 2px solid transparent;
    font-weight: 500;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #5932EA;
    background-color: transparent;
    border-color:  #5932EA;
}
.elemnt-multidrop-mtl {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 15px;
    justify-content: flex-end;
}
.dropweb--yt--wer{
    margin-left: 20px;
}
.select-opt-drop {
    border-color: #ECEEF6;
    background-color: #F8FAFB;
    font-size: 10px;
    font-weight: 400;
    padding: 8px 10px;
    width: 100px;
    appearance: auto;
    color: #000;
}
.web-tt-cost {
    border: 1px solid #ECEEF6;
    background-color: #F8FAFB;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.web-tt-cost span {
    font-size: 10px;
    color: #999;
    background-color: #F8FAFB;
    padding: 6px 8px;
    display: inline-block;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 3px;
}
.web-tt-cost .txt-cost {
    background-color: #fff;
    border-color: #ECEEF6;
    color: #000;
}