.sidebar-content .active-tab li, .pro-sidebar-footer .active-tab li {
    background-color: #f7fbff;
}


.sidebar-content a li, .pro-sidebar-footer a li {
    padding: 0 15px !important;
    margin: 10px 0 !important;
}

