.btn:focus{
    box-shadow: none;
}
.Login-wrapper {
    background-color: #e8eff7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 80px 0px;
}
.login-form {
    padding: 50px 35px;
    border-radius: 3px;
}
.loginIMG img {
    width: 60px;
    margin-bottom: 15px;
}
.txth3-login {
    color: #31d7a9;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.title-login {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 800;
    color: #07b3ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: italic;
}
.form-group-row {
    margin-bottom: 15px;
    text-align: left;
}
.form-control-log {
    padding: 10px 10px;
    height: 45px;
    border-radius: 0;
    border: none;
    font-size: 14px;
    color: #9abbd3;
}
.form-control-log::placeholder{
    color: #9abbd3;
    font-weight: 400;
}
.form-control-log:focus{
    color: #9abbd3;
    background-color: #fff;
    outline: none;
    border-color: #23334f;
    box-shadow: none;
    font-weight: 400;
}
input.form-control-log:-webkit-autofill,
input.form-control-log:-webkit-autofill:hover,
input.form-control-log:-webkit-autofill:focus,
input.form-control-log:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #9abbd3 !important;
}
.btn-submit-login {
    background-color: #186aa5;
    transition: all ease 0.3s;
    border-radius: 1px;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    padding: 10px 50px;
    line-height: normal;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.btn-submit-login:hover{
    color: #fff;
}
.linkfoget {
    font-size: 14px;
    color: #9abbd3;
    display: inline-block;
    text-decoration: none;
}
.linkfoget:hover{
    color: #9abbd3;
}

.forget-password {
    cursor: pointer;
}










