table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    line-height: 20px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 10px;
 
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
     text-align: center;
     padding: 12px; 
  }
  
  /* tr:nth-child(even) {
    background-color: #F8FAFB;
  } */