.monitor-col-1{
    display: flex;
}


.monitor-col-2{
    height: 100px;
    width: 192px;
    border-radius: 4px;
    left: 314px;
    top:163px;
    border: 1px solid white;
    background-color: white;

}
.monitor-col-3{
    height: 100px;
    width: 192px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: white;
    margin-left: 20px;

}
.monitor-col-4{
    height: 100px;
    width: 192px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: white;
    margin-left: 20px;
}

.stacked_graph_container{
    background-color: white;
    margin-top: 20px;
    margin-left: 2px;
    border: 1px solid white;
}
